<div id="calc_new_a2_wrapper">
	<div id="calc_new_a2_signpost">
		<div id="calc_new_calc"></div>
		<div id="calc_new_text">Life insurance cover calculator</div>
		<div id="calc_new_chevron"></div>
		<div id="calc_new_bottom_line"></div>
	</div>
	<div id="calc_new_choose_box" class="calc_new_box">
		<div id="calc_new_box_header">I would like life insurance to...</div>
		<div id="calc_new_sub_header">(You can select more than one option)</div>
		<div id="calc_new_proposals">
			<div class="calc_new_columns" id="calc_new_mortgage">
				<div class="calc_new_subtext">Provide a lump sum to pay off my mortgage</div>
			</div>
			<div class="calc_new_columns" id="calc_new_lumpsum">
				<div class="calc_new_subtext">Provide a lump sum to support my dependants</div>
			</div>
			<div class="calc_new_columns" id="calc_new_loans">
				<div class="calc_new_subtext">Provide a lump sum to pay university fees, pay off debts or for funeral costs</div>
			</div>
		</div>
	</div>
	<div id="calc_new_breadcrumbs" class="calc_new_box mm_hide">
		<div id="calc_new_bc_line">
			<div id="calc_new_bc_green">
				<div class="t68_crumb_points mm_hide" id="mm_point_mortgage"></div>
				<div class="t68_crumb_points mm_hide" id="mm_point_lumpsum"></div>
				<div class="t68_crumb_points mm_hide" id="mm_point_loans"></div>
				<div class="t68_crumb_points mm_hide" id="mm_point_existing-cover"></div>
				<div class="t68_crumb_points" id="mm_point_5"></div>
			</div>
		</div>
		<div class="t68_breadcrumb mm_first_crumb mm_hide" id="calc_new_bc_mortgage">Your mortgage</div>
		<div class="t68_breadcrumb mm_hide" id="calc_new_bc_lumpsum">Support dependants</div>
		<div class="t68_breadcrumb mm_hide" id="calc_new_bc_loans">Debt/funeral costs</div>
		<div class="t68_breadcrumb mm_hide" id="calc_new_bc_existing-cover">Existing cover</div>
		<div class="t68_breadcrumb mm_hide" id="calc_new_bc_5">Your results</div>
	</div>
	<div id="calc_new_cover_results" class="calc_new_box mm_hide">
		<div id="calc_new_cover_header">Your life cover results...</div>
		<div id="calc_new_covers">
			<div class="calc_new_result_boxes mm_hide" id="calc_new_mortgage_result">
				<div class="calc_new_result_text">Your mortgage</div>
				<div class="t68_result_amount">
					<span class="t68_result_pound">£</span>
					<span class="t68_results"></span>
				</div>
			</div>
			<div class="calc_new_plus calc_new_plus_first mm_hide"></div>
			<div class="calc_new_result_boxes mm_hide" id="calc_new_lumpsum_result">
				<div class="calc_new_result_text">Your dependants</div>
				<div class="t68_result_amount">
					<span class="t68_result_pound">£</span>
					<span class="t68_results"></span>
				</div>
			</div>
			<div class="calc_new_plus calc_new_plus_second mm_hide"></div>
			<div class="calc_new_result_boxes mm_hide" id="calc_new_loans_result">
				<div class="calc_new_result_text">Debts or funeral costs</div>
				<div class="t68_result_amount">
					<span class="t68_result_pound">£</span>
					<span class="t68_results"></span>
				</div>
			</div>
			<!-- update 06-10-2016 -->
			<div id="calc_new_minus" class="calc_new_plus mm_hide"></div>
			<div class="calc_new_result_boxes mm_hide" id="calc_new_existing-cover_result">
				<div class="calc_new_result_text">Existing cover</div>
				<div class="t68_result_amount">
					<span class="t68_result_pound">£</span>
					<span class="t68_results">0</span>
				</div>
			</div>
			<!-- end of update -->
		</div>
		<div class="calc_new_total">
			<div class="calc_new_total_header">Total amount of cover
				<!-- <span class="calc_new_13px"> (this amount is totalled by adding together your life insurance needs, then subtracting any existing cover you have entered)</span> -->
			</div>
			<div class="calc_new_total_amount_box">
				<span class="t68_total_pound">£</span>
				<span class="t68_total_sum"></span>
				<span class="t68_total_text">with a term of </span>
				<span class="t68_total_term"></span>
				<span class="t68_total_text"> years*</span>
			</div>
		</div>
		<div class="calc_new_highest mm_hide">The amount shown is the highest cover available.</div>
		<div class="calc_new_lowest mm_hide">The amount shown is the lowest cover available.</div>
	</div>
	<div class="mm_hide mm_question_example">
		<div class="question-wrapper">
			<label class="question" for="yearsTextBox">
				How many years remain on your current or proposed mortgage?
			</label>
			<div class="answer">
				<input class="inputs ng-valid" type="tel" name="years" maxlength="2" min="5" max="50" pattern="\d{2}">
				<div class="error mm_errorBubble">
					Please enter in years the length of time you want your policy to last. This has to be a number between 5 and 50 but the policy must end before your (or a joint policyholder’s) 90th birthday.
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	;
	(function() {
		'use strict';
		var $ = jQuery;

		var waitAngular = setInterval(function() {
			if (window.angular && angular.element('body') && angular.element('body').injector()) {
				clearInterval(waitAngular);
				var $rootScope = angular.element('body').injector().get('$rootScope');
				$rootScope.$on('$locationChangeSuccess',
					function(event, toLocation, fromLocation) {
						if (toLocation && fromLocation) {
							var to = toLocation.toLowerCase(),
								from = fromLocation.toLowerCase();
							if (to.indexOf('yourdetails') > -1) {
								testPage();
							}
						}
					});
			}
		}, 50);

		var getData = function(funcName) {
			return funcName.toString().replace(/[\s\S]*\/\*/m, '').replace(/\*\/[\s\S]*/m, '');
		};

		function testPage() {
			var $ = jQuery;

			function waitForIt(selector, callback) {
				var interval = 50,
					maxIter = 100,
					iter = 0,
					intID;

				if ($(selector).length) {
					callback(); //element is already present
				} else {
					intID = setInterval(function() {
						if ($(selector).length) {
							clearInterval(intID);
							callback(); //element has arrived
						} else {
							iter++;
							if (iter > maxIter) {
								clearInterval(intID); //element has not arrived
							}
						}
					}, interval);
				}
			};

			var selectedInsurance = [],
				i = 0,
				breadStep = 0,
				breadCrumbWidth = 0,
				requiredInputs = [],
				totalCoverAmount = 0,
				totalYears = 0,
				isVisible = false,
				isCookie = false,
				wlh;

			waitForIt('#fieldset-policyCoverAmount', function() {

				$('#fieldset-policyCoverAmount').after(mm_inner_HTML);

				//link inside of tooltip
				$('.help .arrow-before[data-ng-click^="showCoverCalculator()"]').after('<a href="#" tabindex="-1" class="arrow-before">cover&nbsp;calculator</a>');
				$('.help .arrow-before').click(function(event) {
					event.preventDefault();
					$('#calc_new_a2_wrapper').toggleClass('mm_open');
					clearCalculator();
				});

				// update 2016-10-15 by IL
				//change the link inside "Need help?"-box
				$('#showCoverCalculatorLink').after('<a tabindex="-1" class="Calculator-link arrow-before" id="mm_showCoverCalculator">cover&nbsp;calculator</a>');
				$('#mm_showCoverCalculator').click(function(event) {
					event.preventDefault();
					$('#calc_new_a2_wrapper').toggleClass('mm_open');
					clearCalculator();
				});

				// end of update

				//trigger default calculator opening (hide modal boxes meanwhile)
				$('head').append('<st' + 'yle id="calc_new_hide_modal">.modal {display:none !important;} .modal-backdrop {display:none;}</st' + 'yle>');

				// update 2016-11-05 by IL
				wlh = window.location.href.toLowerCase();
				// update 2016-10-19 removing calculator opening if user comes from Life Insurance Landing Page
				// isCookie = mmcore.GetCookie('calc_new_isLP', 1) || false;

				if ($('#callback-form-close-cross').size() && wlh.indexOf('covercalculator=true') > -1) {
					isVisible = true;
				} else if (isCookie) {
					$('#showCoverCalculatorLink').click();
					isVisible = true;
					// showing Calculator opened once (when user arrives from LP)
					isCookie = false;
					mmcore.SetCookie('calc_new_isLP', '', -1, 1);
				} else {
					$('#showCoverCalculatorLink').click();
				}
				// continue on isVisible
				
				waitForIt('.new-lightbox.cover-calculator.ng-scope', function() {
					//move the form from lightbox to page content
					$('#calc_new_a2_wrapper').append($('.new-lightbox.cover-calculator.ng-scope'));
					//remove modal boxes and their hiding styles
					waitForIt('.modal.fade.in', function() {
						$('.modal.fade.in').click();
						setTimeout(function() {
							$('#calc_new_hide_modal').remove();
						}, 300);
					});

				// UPdate according including Mobile devices
				// adding desktop calculator if user comes on Mobile
				if ($('.new-lightbox.cover-calculator.ng-scope fieldset').length) {
					var calculatorContent = function() {
						/*
						<h1>Life Insurance Calculator</h1>
						<div id="lumpsum" class="instruction">
							<div class="question">
								<label><strong>How much would you like to leave to your dependents?</strong>
									<br>(Perhaps think of your annual salary multiplied by the number of years you wish to cover your dependents.)</label>
							</div>
							<div class="answer">
								<input class="inputs currency ng-pristine ng-valid" name="lumpsum" type="text" id="lumpsumTextBox" data-ng-model="model.coverCalculatorModel.lumpsum" data-ctm-currency="" data-ctm-min="0" maxlength="8" data-ctm-focus-on="lumpsumFocus" pattern="\d*" title="" data-ctm-no-alpha-chars="" data-ng-blur="analyticsProvider.gaFunc('LifeInsurance_AboutYou_Link_CoverCalculator', 'Selected', 'LifeInsurance_AboutYou_LumpSumForDependents', model.coverCalculatorModel.lumpsum)">
								<span class="pound">£</span>
							</div>
						</div>
						<div id="mortgage" class="instruction">
							<div class="question">
								<label><strong>How much of your mortgage is still outstanding?</strong>
									<br>(The amount required to clear your mortgage completely.)</label>
							</div>
							<div class="answer">
								<input class="inputs currency ng-pristine ng-valid" name="mortgage" type="text" id="mortgageTextBox" data-ng-model="model.coverCalculatorModel.mortgage" data-ctm-currency="" data-ctm-min="0" maxlength="8" pattern="\d*" title="" data-ctm-no-alpha-chars="" data-ng-blur="analyticsProvider.gaFunc('LifeInsurance_AboutYou_Link_CoverCalculator', 'Selected', 'LifeInsurance_AboutYou_LumpSumForMortgage', model.coverCalculatorModel.mortgage)">
								<span class="pound">£</span>
							</div>
						</div>
						<div id="loans" class="instruction">
							<div class="question">
								<label><strong>How much would be required to pay any major loans or debts such as credit cards and funeral expenses?</strong>
									<br>(The average cost of a funeral is over £3,000.)</label>
							</div>
							<div class="answer">
								<input class="inputs currency ng-pristine ng-valid" name="loans" type="text" id="loansTextBox" data-ng-model="model.coverCalculatorModel.loans" data-ctm-currency="" data-ctm-min="0" maxlength="8" pattern="\d*" title="" data-ctm-no-alpha-chars="" data-ng-blur="analyticsProvider.gaFunc('LifeInsurance_AboutYou_Link_CoverCalculator', 'Selected', 'LifeInsurance_AboutYou_LumpSumForDebt', model.coverCalculatorModel.loans)">
								<span class="pound">£</span>
							</div>
						</div>
						<div id="existing-cover" class="instruction">
							<div class="question">
								<label><strong>Do you have any existing life cover or investments that would pay out in the event of your death?</strong>
									<br>(Include the value of any policies you have in force.)</label>
							</div>
							<div class="answer">
								<input class="inputs currency ng-pristine ng-valid" name="existingCover" type="text" id="existingCoverTextBox" data-ng-model="model.coverCalculatorModel.existingCover" data-ctm-currency="" data-ctm-min="0" maxlength="8" pattern="\d*" title="" data-ctm-no-alpha-chars="" data-ng-blur="analyticsProvider.gaFunc('LifeInsurance_AboutYou_Link_CoverCalculator', 'Selected', 'LifeInsurance_AboutYou_ExistingLifeCover', model.coverCalculatorModel.existingCover)">
								<span class="pound">£</span>
							</div>
						</div>
						<div class="cover-calculator-results ng-hide" data-ng-show="(model.coverCalculatorModel.requestedTotal == model.coverCalculatorModel.calculatedTotal)">
							<h4 class="cover-results">Total amount of cover</h4>
							<h4 class="cover-results total-amount ng-binding">£0</h4>
							<label>The cover amount is based on the details you have provided.</label>
						</div>
						<div class="cover-calculator-results" data-ng-show="(model.coverCalculatorModel.requestedTotal < model.coverCalculatorModel.calculatedTotal)">
							<label class="cover-results">Your calculated amount is:</label>
							<span class="cover-results amount ng-binding">£0</span>
							<h4 class="cover-results">Total amount of cover</h4>
							<h4 class="cover-results total-amount ng-binding">£10,000</h4>
							<label>The amount shown is the lowest cover available.</label>
						</div>
						<div class="cover-calculator-results ng-hide" data-ng-show="(model.coverCalculatorModel.requestedTotal > model.coverCalculatorModel.calculatedTotal)">
							<label class="cover-results">Your calculated amount is:</label>
							<span class="cover-results amount ng-binding">£0</span>
							<h4 class="cover-results">Total amount of cover</h4>
							<h4 class="cover-results total-amount ng-binding">£10,000</h4>
							<label>The amount shown is the highest cover available.</label>
						</div>
						<div class="cover-calculator-next">
							<input class="button" id="coverCalculatorSubmit" type="submit" value="Next" data-ng-click="analyticsProvider.gaFunc('LifeInsurance_AboutYou_Link_CoverCalculator', 'Selected', 'LifeInsurance_AboutYou_Next', 0)">
						</div>
						*/
					};

					// add class for style including
					$('.new-lightbox.cover-calculator.ng-scope').addClass('legacy');
					// delete mobile calculator elements
					$('.new-lightbox.cover-calculator.ng-scope form.lightbox-inner').empty();

					// initiate new elements for angular validation
					var container = $('.new-lightbox.cover-calculator.ng-scope form.lightbox-inner'),
						$injector = container.injector(),
						$compile = $injector.get('$compile'),
						$scope = container.scope(),
						modal = $(getData(calculatorContent)),
						modalCompiled = $compile(modal)($scope);

					container.append(modalCompiled);
				}

					//change default CTA to its copy to prevent form submit
					$('#coverCalculatorSubmit').after('<div id="mm_coverCalculatorSubmit" class="button mm_hide">Use this amount and term for my quote</div><div id="mm_closeCalculator" class="mm_hide"><a href="javascript:void(0)" title="Close cover calculator">I will enter my own cover amount</a></div>');
					//set handler of CTA copy
					$('#mm_coverCalculatorSubmit').click(function() {
						 var totalAmount = $('.cover-calculator-results:not(.ng-hide) .total-amount').text().replace(/£|,/g, '');
						angular.element($('#amount')).scope().model.amount = totalCoverAmount;
						angular.element($('#amount')).scope().formController.coverDetailsForm.amount.$setViewValue(totalCoverAmount);
						angular.element($('#yearsTextBox')).scope().formController.coverDetailsForm.years.$setViewValue(totalYears);
						angular.element($('#amount')).blur();
						angular.element($('#yearsTextBox')).blur();
						angular.element($('#amount')).scope().$apply();
						//we do it twice because the system ignores the very first time
						$('#calc_new_a2_wrapper').removeClass('mm_open');

						// update 2016-09-30 by IL
						// clicking on default Next button to prevent validation errors
						$('#coverCalculatorSubmit').click();

						clearCalculator();

						$('html, body').animate({
							scrollTop: $('#yearsTextBox').offset().top
						}, 500);

					});
				});

				// removing default calculator elements to prevent submit bugs
				// update 2016-10-30 by IL
				 $('#callback-form-close-cross, #coverCalculatorSubmit').detach();

				// adding next-back buttons
				$('.cover-calculator-next').append('<div id="calc_new_disabled_button" class="calc_new_button disabled button">Next</div><div id="calc_new_next_button" class="calc_new_button enabled button mm_hide">Next</div><div id="calc_new_disabled_calculate" class="calc_new_button disabled button mm_hide">Calculate</div><div id="calc_new_calculate" class="calc_new_button enabled button mm_hide">Calculate</div>');
				$('.cover-calculator-next').prepend('<div id="calc_new_question" class="mm_hide">Questions remaining: <span>0</span></div>');
				$('.cover-calculator-next').prepend('<div id="calc_new_back_button" class="calc_new_button mm_hide button">Back</div>');

				// hiding calculator boxes
				$('#calc_new_a2_wrapper #lumpsum, #calc_new_a2_wrapper #mortgage, #calc_new_a2_wrapper #loans, #calc_new_a2_wrapper #existing-cover').toggleClass('mm_hide');
				$('#calc_new_a2_wrapper > div.new-lightbox.cover-calculator.ng-scope.ng-scope .cover-calculator-results:not(.ng-hide)').toggleClass('mm_hide');

				// adding second question wrapper
				$('#calc_new_a2_wrapper #lumpsum, #calc_new_a2_wrapper #mortgage, #calc_new_a2_wrapper #loans').append('<div class="mm_clear"></div><div class="mm_second_question"></div>');

				// adding terms text
				$('#calc_new_a2_wrapper').append('<div class="calc_new_terms_box mm_hide"><div class="calc_new_terms_1">*The term represents the longer of your mortgage term or the term that you feel you will have financial dependants.</div><div class="calc_new_terms">The information provided by our cover calculator is for guidance purposes only and is not advice or a recommendation.</div></div>');

				//expand/collaps
				$('#calc_new_a2_signpost').click(function() {
					if ($('#calc_new_a2_wrapper').hasClass('mm_open')) {
						clearCalculator();
					}
					$('#calc_new_a2_wrapper').toggleClass('mm_open');
				});

				// I will enter my own cover amount - link click
				$('#mm_closeCalculator a').click(function() {
					if ($('#calc_new_a2_wrapper').hasClass('mm_open')) {
						clearCalculator();
					}
					$('#calc_new_a2_wrapper').toggleClass('mm_open');
					$('html, body').animate({
							scrollTop: $('#yearsTextBox').offset().top
						}, 500);
				});

				//choose/unchoose propose insurances
				$('#calc_new_proposals .calc_new_columns').click(function() {
					$(this).toggleClass('mm_selected');
				});

				// mortgage box
				//changing mortgage wordings
				$('#mortgage > div.question > label').text('Please enter the amount outstanding on your current mortgage or the amount of your proposed mortgage.');
				// adding years input
				$('#calc_new_a2_wrapper > .mm_hide.mm_question_example').clone().appendTo('#mortgage .mm_second_question');
				$('#mortgage .mm_second_question .mm_question_example').toggleClass('mm_hide');
				$('#calc_new_a2_wrapper #mortgage .mm_second_question .inputs').attr('id', 'mm_mortgage_yearbox');

				// dependants box
				$('#lumpsum > div.question > label').text('Please enter the amount of monthly income that you think your dependants rely on to support the lifestyle you would want for them.');
				//adding years input
				$('#calc_new_a2_wrapper > .mm_hide.mm_question_example').clone().appendTo('#lumpsum .mm_second_question');
				$('#lumpsum .mm_second_question .mm_question_example').toggleClass('mm_hide');
				$('#lumpsum label.question').text('How many years do you feel that you will have loved ones dependant on your income?');
				$('#calc_new_a2_wrapper #lumpsum .mm_second_question .inputs').attr('id', 'mm_lumpsum_yearbox');

				// loans and depts box
				$('#loans > div.question > label').text('Please enter the amount you require to pay for university fees, pay off debts or for funeral costs*.');
				// adding second question 
				$('#loans .mm_second_question').html('<div class="mm_sq_text">* In 2015 the average funeral cost was £3,800 according to <a href="https://www.moneyadviceservice.org.uk" class="mm_green_text" target="_blank">www.moneyadviceservice.org.uk</a></div>');

				// existing cover box
				$('#existing-cover > div.question > label').text('Please enter the total of any current life insurance, Death in Service benefit from an employer or investments that will pay out on your death that you wish to take into account. This amount will be subtracted from your total amount of cover.');

				// adding not valid state
				$('#calc_new_a2_wrapper .instruction .inputs').toggleClass('ng-valid');
				$('#calc_new_a2_wrapper .instruction .inputs').each(function() {
					$(this).val('');
				});

				// update 2016-05-05 by IL
				// opening calculator if it opened in default
				if (isVisible) {
					$('#mm_showCoverCalculator').click();
					isVisible = false;
				}
				// end of update

				// Begin Calculator functions
				// format long number strings and separates it with ,
				function numberFormat(_number, _sep) {
					_number = typeof _number != "undefined" && _number > 0 ? _number : "";
					_number = _number.replace(new RegExp("^(\\d{" + (_number.length % 3 ? _number.length % 3 : 0) + "})(\\d{3})", "g"), "$1 $2").replace(/(\d{3})+?/gi, "$1 ").trim();
					if (typeof _sep != "undefined" && _sep != " ") {
						_number = _number.replace(/\s/g, _sep);
					}
					return _number;
				}

				// Clear classes and values in calculator
				function clearCalculator() {
					// opening first step
					$('#calc_new_choose_box').removeClass('mm_hide');
					$('.calc_new_columns').removeClass('mm_selected')
					$('#calc_new_next_button').addClass('mm_hide');
					$('#calc_new_disabled_button').removeClass('mm_hide');
					// hiding next steps
					$('#calc_new_breadcrumbs').addClass('mm_hide');
					$('.t68_breadcrumb').addClass('mm_hide')
					$('#calc_new_back_button').addClass('mm_hide');
					$('#calc_new_calculate').addClass('mm_hide');
					$('#calc_new_disabled_calculate').addClass('mm_hide');
					$('#calc_new_a2_wrapper .instruction').addClass('mm_hide');
					$('#calc_new_question').addClass('mm_hide');
					$('.t68_breadcrumb').removeClass('calc_new_actual');
					// hiding last step
					$('#calc_new_cover_results').addClass('mm_hide');
					$('#mm_coverCalculatorSubmit').addClass('mm_hide');
					$('#mm_closeCalculator').addClass('mm_hide');
					$('.calc_new_terms_box').addClass('mm_hide');
					$('#calc_new_a2_wrapper .cover-calculator-next').removeClass('mm_results');
					$('#calc_new_a2_wrapper .new-lightbox .lightbox-inner').removeClass('mm_results');
					$('.calc_new_result_boxes').addClass('mm_hide');
					$('.calc_new_plus').addClass('mm_hide');
					$('.calc_new_highest').addClass('mm_hide');
					$('.calc_new_lowest').addClass('mm_hide');

					selectedInsurance = [];
					totalCoverAmount = 0;
					totalYears = 0;
					i = 0;
				}

				// Next CTA hiding / showing
				function validateNextButton(insuranceId) {
					if ($('#' + insuranceId).find('.answer input.inputs.currency').hasClass('ng-valid')) {
						
						if ($('#' + insuranceId).find('.mm_second_question .answer input.inputs').length) {
							if ($('#' + insuranceId).find('.mm_second_question .answer input.inputs').hasClass('ng-valid')) {
								$('#calc_new_next_button').removeClass('mm_hide');
								$('#calc_new_disabled_button').addClass('mm_hide');
							} else {
								$('#calc_new_disabled_button').removeClass('mm_hide');
								$('#calc_new_next_button').addClass('mm_hide');
							}
						}

					} else {
						$('#calc_new_disabled_button').removeClass('mm_hide');
						$('#calc_new_next_button').addClass('mm_hide');
					}
				}

				// Calculate CTA showing / hiding
				function validateCalculateCTA(insuranceId) {
					if ($('#' + insuranceId).find('.answer input.inputs.currency').hasClass('ng-valid')) {
						$('#calc_new_calculate').removeClass('mm_hide');
						$('#calc_new_disabled_calculate').addClass('mm_hide');
					} else {
						$('#calc_new_disabled_calculate').removeClass('mm_hide');
						$('#calc_new_calculate').addClass('mm_hide');
					}
				}

				// initialize breadcrumb
				function initiateBreadCrumb(insuranceArr) {
					$('.t68_crumb_points').addClass('mm_hide');
					$('.t68_crumb_points').removeClass('mm_actual_point');
					$('.t68_crumb_points').removeClass('mm_done_point');

					for (var i = 1; i < 5; i++) {
						$('.t68_crumb_points').removeClass('mm_point_' + i);
					}

					$('.t68_breadcrumb').removeClass('t68_bc_width20');
					$('.t68_breadcrumb').removeClass('t68_bc_width25');
					$('.t68_breadcrumb').removeClass('t68_bc_width33');
					$('#calc_new_bc_green').css('width', '0');
					$('#calc_new_bc_' + insuranceArr[0]).addClass('calc_new_actual');
					$('#mm_point_' + insuranceArr[0]).addClass('mm_actual_point');
					$('#calc_new_bc_existing-cover').removeClass('t68_text-right');
					$('.t68_crumb_points').css('display','');

					$('.t68_crumb_points').css('left','');

					for (var i = 0; i < insuranceArr.length; i++) {
						$('#calc_new_bc_' + insuranceArr[i]).removeClass('mm_hide');
						$('#calc_new_bc_' + insuranceArr[i+1]).removeClass('mm_first_crumb');

						var index = i + 1;
						$('#mm_point_' + insuranceArr[i]).removeClass('mm_hide');
						$('#mm_point_' + insuranceArr[i]).addClass('mm_point_' + index);
					}
					$('#calc_new_bc_5').removeClass('mm_hide');

					$('#calc_new_bc_' + insuranceArr[0]).addClass('mm_first_crumb');

					switch (insuranceArr.length) {
						case 2:
							$('.t68_breadcrumb').addClass('t68_bc_width33');
							// $('#calc_new_bc_line .mm_point_1').css('left','11%');
							$('#calc_new_bc_line .mm_point_2').css('left','50%');
							breadStep = 33;
							break;
						case 3:
							$('.t68_breadcrumb').addClass('t68_bc_width25');
							$('#calc_new_bc_line .mm_point_2').css('left','36%');
							$('#calc_new_bc_line .mm_point_3').css('left','62%');
							breadStep = 25;
							break;
						case 4:
							$('.t68_breadcrumb').addClass('t68_bc_width20');
							$('.t68_crumb_points').css('left','');
							$('#calc_new_bc_existing-cover').addClass('t68_text-right');
							breadStep = 20;
							break;
						default:
							$('.t68_crumb_points').css('left','');
							$('.t68_breadcrumb').addClass('t68_bc_width20');
							$('#calc_new_bc_existing-cover').addClass('t68_text-right');
					}

					breadCrumbWidth = breadStep;
					$('#calc_new_bc_green').css('width', breadCrumbWidth + '%');
				}

				// validation of filled questions
				function validateQuestions(insuranceArr) {
					var availableInputsId = [];
					
					if (insuranceArr.length) {
						for (var i = 0; i < insuranceArr.length; i++) {
							$('#calc_new_a2_wrapper .cover-calculator #' + insuranceArr[i] + ' .answer input.inputs').each(function() {
								availableInputsId.push(this.id);
							});
						}

						return availableInputsId;
					}
				}

				// check if available inputs were filled
				function countAvailableInputs(inputsArr) {
					var counter = 0;

					if (inputsArr.length) {

						for (var i = 0; i < inputsArr.length; i++) {
							if (!$('#' + inputsArr[i]).hasClass('ng-valid')) {
								counter++;
							}   
						}
					}

					$('#calc_new_question span').text(counter);
				}

				// Adding events
				// first step validation
				// $(document).on('click', '.calc_new_columns', function() {
				$('.calc_new_columns').click(function() {
					if ($('.calc_new_columns').hasClass('mm_selected')) {
						$('#calc_new_disabled_button').addClass('mm_hide');
						$('#calc_new_next_button').removeClass('mm_hide');
					} else {
						$('#calc_new_disabled_button').removeClass('mm_hide');
						$('#calc_new_next_button').addClass('mm_hide');
					}
				});

				// Next button click
				// $(document).on('click', '#calc_new_next_button', function() {
				$('#calc_new_next_button').click(function() {
					//trigger event to track the metric
					var activeTab = $('.instruction').not('.mm_hide').attr('id');
					var attr = {
						'mortgage' : 'Mortgage',
						'lumpsum' : 'Dependents',
						'loans' : 'Loans&Debts'
					};
					if (attr[activeTab]){
						$(mmcore).trigger('calc_new_calc_inter', [attr[activeTab]]);
					}
					if (!$(this).hasClass('mm_hide')) {

						// first box click Next CTA
						if (!$('#calc_new_choose_box').hasClass('mm_hide') && $('#calc_new_proposals').is(':visible')) {
							i = 0;

							$('.calc_new_columns.mm_selected').each(function() {
								selectedInsurance.push(this.id.substring(7));
							});

							selectedInsurance.push('existing-cover');

							$('#calc_new_choose_box').addClass('mm_hide');
							$('#calc_new_back_button').removeClass('mm_hide');
							$('#calc_new_breadcrumbs').removeClass('mm_hide');

							$('#' + selectedInsurance[i]).removeClass('mm_hide');

							validateNextButton(selectedInsurance[i]);

							initiateBreadCrumb(selectedInsurance);

							requiredInputs = validateQuestions(selectedInsurance);
							countAvailableInputs(requiredInputs);

							$('#calc_new_question').removeClass('mm_hide');

							// insurance boxes click Next CTA
						} else if ($('#calc_new_choose_box').hasClass('mm_hide') && !$('#calc_new_proposals').is(':visible')) {

							$('#' + selectedInsurance[i]).addClass('mm_hide');
							$('#calc_new_bc_' + selectedInsurance[i]).removeClass('calc_new_actual');
							$('#mm_point_' + selectedInsurance[i]).removeClass('mm_actual_point');
							$('#mm_point_' + selectedInsurance[i]).addClass('mm_done_point');

							if (typeof selectedInsurance[i + 1] !== 'undefined') {
								$('#' + selectedInsurance[i + 1]).removeClass('mm_hide');
								$('#calc_new_bc_' + selectedInsurance[i + 1]).addClass('calc_new_actual');
								$('#mm_point_' + selectedInsurance[i + 1]).addClass('mm_actual_point');
								breadCrumbWidth = breadCrumbWidth + breadStep;
								$('#calc_new_bc_green').css('width', breadCrumbWidth + '%');
								// validateQuestions(selectedInsurance);
								countAvailableInputs(requiredInputs);

								if (selectedInsurance[i + 1] !== 'existing-cover') {
									validateNextButton(selectedInsurance[i + 1]);
								} else {
									$('#calc_new_next_button').addClass('mm_hide');
									$('#calc_new_disabled_calculate').removeClass('mm_hide');
									validateCalculateCTA(selectedInsurance[i + 1]);
								}
								
								i++;

							} else if (typeof selectedInsurance[i + 1] === 'undefined') {
								// Last stage
							}

						}

					}

				});

				// back-button click
				// $(document).on('click', '#calc_new_back_button', function() {
				$('#calc_new_back_button').click(function() {             
					if (!$(this).hasClass('mm_hide')) {
						if (typeof selectedInsurance[i] !== 'undefined') {
							if (typeof selectedInsurance[i - 1] !== 'undefined') {
								// on insurance cover stages
								$('#' + selectedInsurance[i]).addClass('mm_hide');
								$('#calc_new_bc_' + selectedInsurance[i]).removeClass('calc_new_actual');
								$('#mm_point_' + selectedInsurance[i]).removeClass('mm_actual_point');
								$('#mm_point_' + selectedInsurance[i]).removeClass('mm_done_point');

								$('#' + selectedInsurance[i - 1]).removeClass('mm_hide');
								$('#calc_new_bc_' + selectedInsurance[i - 1]).addClass('calc_new_actual');
								$('#mm_point_' + selectedInsurance[i - 1]).addClass('mm_actual_point');
								$('#mm_point_' + selectedInsurance[i - 1]).removeClass('mm_done_point');

								breadCrumbWidth = breadCrumbWidth - breadStep;
								$('#calc_new_bc_green').css('width', breadCrumbWidth + '%');

								countAvailableInputs(requiredInputs);

								if ($('#calc_new_a2_wrapper .answer input.inputs').hasClass('ng-valid')) {
									$('#calc_new_next_button').removeClass('mm_hide');
									// show disabled button
									$('#calc_new_disabled_button').addClass('mm_hide');
								}

								if (selectedInsurance[i] === 'existing-cover') {
									$('#calc_new_calculate').addClass('mm_hide');
									$('#calc_new_disabled_calculate').addClass('mm_hide');
								}

								i--;
							} else {
								// going back to the first stage
								$('#' + selectedInsurance[i]).addClass('mm_hide');
								$('#calc_new_bc_' + selectedInsurance[i]).removeClass('calc_new_actual');
								$('#mm_point_' + selectedInsurance[i]).removeClass('mm_actual_point');
								i = 0;
								selectedInsurance = [];
								$('#calc_new_choose_box').removeClass('mm_hide');
								$('#calc_new_breadcrumbs').addClass('mm_hide');
								$('.t68_breadcrumb').addClass('mm_hide')
								$('#calc_new_back_button').addClass('mm_hide');
								$('#calc_new_question').addClass('mm_hide');

								if ($('#calc_new_proposals .calc_new_columns').hasClass('mm_selected')) {
									$('#calc_new_disabled_button').addClass('mm_hide');
									$('#calc_new_next_button').removeClass('mm_hide');
								}
							}
						} else {
							// return
						}
					}

				});

				// second question digits only validation
				// $(document).on('blur', '#calc_new_a2_wrapper .mm_second_question .answer input.inputs', function() {
				$('#calc_new_a2_wrapper .mm_second_question .answer input.inputs').blur(function() {
					if (this.value) {
						$(this).val(parseInt(this.value, 10));
					}
				});

				// Question amount control
				// $(document).on('blur', '#calc_new_a2_wrapper .cover-calculator .answer input.inputs', function() {
				$('#calc_new_a2_wrapper .cover-calculator .answer input.inputs').blur(function() {
					countAvailableInputs(requiredInputs);
				});


				// Calculate CTA click
				// $(document).on('click', '#calc_new_calculate', function() {
				$('#calc_new_calculate').click(function() {
					if (requiredInputs.length) {
						var calculatorAmounts = {
							existingCoverTextBox: "",
							loansTextBox: "",
							lumpsumTextBox: "",
							mm_lumpsum_yearbox: 0,
							mm_mortgage_yearbox: 0,
							mortgageTextBox: ""
						};
						var totalLumpsum = 0,
							totalLumpsumText = '',
							totalAmount = '';

						for (var i = 0; i < requiredInputs.length; i++) {
							calculatorAmounts[requiredInputs[i]] = $('#' + requiredInputs[i]).val();
						}

						calculatorAmounts["mm_mortgage_yearbox"] = +calculatorAmounts["mm_mortgage_yearbox"];
						calculatorAmounts["mm_lumpsum_yearbox"] = +calculatorAmounts["mm_lumpsum_yearbox"];

						if (calculatorAmounts["mm_mortgage_yearbox"] > calculatorAmounts["mm_lumpsum_yearbox"]) {
								totalYears = calculatorAmounts["mm_mortgage_yearbox"];
							} else {
								totalYears = calculatorAmounts["mm_lumpsum_yearbox"];
						}

						if (calculatorAmounts["mortgageTextBox"]) {
							$('#calc_new_mortgage_result span.t68_results').text(calculatorAmounts["mortgageTextBox"]);
						}

						if (calculatorAmounts["lumpsumTextBox"]) {

							totalLumpsum = +calculatorAmounts["lumpsumTextBox"].replace(/£|,/g, '');
							totalLumpsum = totalLumpsum * totalYears * 12;

							if (totalLumpsum > 99999999) {
								totalLumpsum = 99999999;
								totalLumpsumText = '99999999';
							} else {
								totalLumpsumText = totalLumpsum.toString();
							}

							$('#calc_new_lumpsum_result span.t68_results').text(numberFormat(totalLumpsumText, ',') || 0);
						}

						if (calculatorAmounts["loansTextBox"]) {
							$('#calc_new_loans_result span.t68_results').text(calculatorAmounts["loansTextBox"]);
						}

						// update 2016-10-06
						if (calculatorAmounts["existingCoverTextBox"]) {
							$('#calc_new_existing-cover_result span.t68_results').text(calculatorAmounts["existingCoverTextBox"]);    
						}
						// end of update

						if (totalYears < 5) {
							totalYears = 5;
						}
						$('.calc_new_total_amount_box span.t68_total_term').text(totalYears);

						totalCoverAmount = Number(calculatorAmounts["mortgageTextBox"].replace(/£|,/g, '')) + 
										totalLumpsum + 
										Number(calculatorAmounts["loansTextBox"].replace(/£|,/g, '')) - 
										Number(calculatorAmounts["existingCoverTextBox"].replace(/£|,/g, ''));

						if (totalCoverAmount > 9999999) {
							totalCoverAmount = 9999999;
							$('.calc_new_highest').removeClass('mm_hide');
						} else if (totalCoverAmount < 10000) {
							totalCoverAmount = 10000;
							$('.calc_new_lowest').removeClass('mm_hide');
						}

						totalAmount = totalCoverAmount.toString();
						$('.calc_new_total_amount_box span.t68_total_sum').text(numberFormat(totalAmount, ','));

						// update 2016-09-30
						// add values to angular modal scope
						var $scope = angular.element($('[name="formController.coverCalculatorForm"]')).scope();
						var $CalcModel = angular.element($('[name="formController.coverCalculatorForm"]')).scope().model.coverCalculatorModel;

						$CalcModel.existingCover = calculatorAmounts["existingCoverTextBox"].replace(/£|,/g, '');
						$CalcModel.loans = calculatorAmounts["loansTextBox"].replace(/£|,/g, '');
						$CalcModel.mortgage = calculatorAmounts["mortgageTextBox"].replace(/£|,/g, '');
						$CalcModel.lumpsum = totalLumpsum.toString();
						$CalcModel.requestedTotal = totalCoverAmount;

						$scope.$apply();
						$scope.submit();
						// end of angilar model update

					}

					if (selectedInsurance.length) {
						for (var i = 0; i < selectedInsurance.length; i++) {
							$('#calc_new_covers #calc_new_' + selectedInsurance[i] + '_result').removeClass('mm_hide');

						}

						if (selectedInsurance[0] === 'mortgage' && selectedInsurance.length > 2) {
							$('.calc_new_plus_first').removeClass('mm_hide');
							if (selectedInsurance.length === 4) {
								$('.calc_new_plus_second').removeClass('mm_hide');
							}
						}
						if (selectedInsurance[0] === 'lumpsum' && selectedInsurance.length === 3) {
							$('.calc_new_plus_second').removeClass('mm_hide');
						}
					}

					$('#calc_new_back_button').addClass('mm_hide');
					$('#calc_new_calculate').addClass('mm_hide');
					$('#calc_new_breadcrumbs').addClass('mm_hide');
					$('.t68_breadcrumb').addClass('mm_hide')
					$('#calc_new_a2_wrapper #existing-cover').addClass('mm_hide');
					$('#calc_new_question').addClass('mm_hide');
					$('#calc_new_a2_wrapper .cover-calculator-next').addClass('mm_results');
					$('#calc_new_a2_wrapper.mm_open .new-lightbox .lightbox-inner').addClass('mm_results');
					// update 06-10-2016
					// $('#calc_new_existing-cover_result').removeClass('mm_hide');
					$('#calc_new_minus').removeClass('mm_hide');
					// end of update
					$('#mm_coverCalculatorSubmit').removeClass('mm_hide');
					$('#mm_closeCalculator').removeClass('mm_hide');
					$('#calc_new_cover_results').removeClass('mm_hide');
					$('.calc_new_terms_box').removeClass('mm_hide');

				});

				// initialize angular form changes
				angular.element('#formController').scope().$apply();
			});
		}

		if (window.location.pathname.toLowerCase().indexOf('yourdetails') > -1) {
			testPage();
		}

		// validation for second-question years/terms inputs
		$(document).on('input', '#calc_new_a2_wrapper .mm_second_question .answer input.inputs', function() {
			var value,
				isnum;
			value = $(this).val();
			$(this).val(value.replace(/\D+/, ''));
			value = $(this).val();

			var isnum = /^\d+$/.test(value);
			if (isnum) {
				if ((value < 5) || (value > 50)) {
					$(this).addClass('mm_validation_error');
					$(this).parent().find('.error').show();
					$(this).removeClass('ng-valid');
					$('#calc_new_next_button').addClass('mm_hide');
					$('#calc_new_disabled_button').removeClass('mm_hide');

				} else {
					$(this).removeClass('mm_validation_error');
					$(this).parent().find('.error').hide();

					$(this).addClass('ng-valid');

					if ($(this).closest('.instruction').find('.answer input.inputs.currency').hasClass('ng-valid')) {
						$('#calc_new_next_button').removeClass('mm_hide');
						$('#calc_new_disabled_button').addClass('mm_hide');
					}
				}

			} else {
				$(this).removeClass('mm_validation_error');
				$(this).parent().find('.error').hide();
				if ($(this).hasClass('ng-valid')) {
					$(this).removeClass('ng-valid');

					$('#calc_new_disabled_button').removeClass('mm_hide');
					$('#calc_new_next_button').addClass('mm_hide');
				}
			}
		});

		// validation for Next CTA button (validation for first input is default)
		// default update. Validation logic added. ng-valid class for validated field
		$(document).on('input', '#calc_new_a2_wrapper .answer input.inputs.currency', function() {
			var value,
				newValue,
				isnum;

			// replace non-digit symbols
			value = $(this).val();
			newValue = value.replace(/\D+/, '');

			$(this).removeClass('ng-pristine, ng-untouched').addClass('ng-touched, ng-dirty');

			$(this).val(newValue);

			//add validation class
			value = $(this).val();
			isnum = /^\d+$/.test(value);

			if (isnum) {
				$(this).addClass('ng-valid');
			} else {
				// 'ng-invalid'
			}

			if ($(this).hasClass('ng-valid')) {
				if ($(this).closest('.instruction').find('.mm_second_question .answer input.inputs').length) {
					if ($(this).closest('.instruction').find('.mm_second_question .answer input.inputs').hasClass('ng-valid')) {
						$('#calc_new_next_button').removeClass('mm_hide');
						// hide disabled button
						$('#calc_new_disabled_button').addClass('mm_hide');
					}
				} else if ($('#existing-cover').is(':visible')) {
					$('#calc_new_calculate').removeClass('mm_hide');
					$('#calc_new_disabled_calculate').addClass('mm_hide');
				} else {
					$('#calc_new_next_button').removeClass('mm_hide');
					// hide disabled button
					$('#calc_new_disabled_button').addClass('mm_hide');
				}


			} else if ($('#existing-cover').is(':visible')) {
				$('#calc_new_calculate').addClass('mm_hide');
				$('#calc_new_disabled_calculate').removeClass('mm_hide');
			} else {
				$('#calc_new_disabled_button').removeClass('mm_hide');
				$('#calc_new_next_button').addClass('mm_hide');
			}
		});

		function preload(images) {
			if (typeof document.body == "undefined") return;
			try {
				var div = document.createElement("div");
				var s = div.style;
				s.position = "absolute";
				s.top = s.left = 0;
				s.visibility = "hidden";
				document.body.appendChild(div);
				div.innerHTML = "<img src=\"" + images.join("\" /><img src=\"") + "\" />";
			} catch (e) {
				// Error. Do nothing.
			}
		}

		preload([
			'#$(ContentManager:calc.png)!',
			'#$(ContentManager:chevron.png)!',
			'#$(ContentManager:mortgage-icon.png)!',
			'#$(ContentManager:dependants-icon.png)!',
			'#$(ContentManager:debt-icon.png)!',
			'#$(ContentManager:mortgage-icon-selected.png)!',
			'#$(ContentManager:dependants-icon-selected.png)!',
			'#$(ContentManager:debt-icon-selected.png)!',
			'#$(ContentManager:point-undone.png)!',
			'#$(ContentManager:point-done.png)!',
			'#$(ContentManager:point-actual.png)!',
			'#$(ContentManager:mortgage-results.png)!',
			'#$(ContentManager:dependants-results.png)!',
			'#$(ContentManager:debt-results.png)!',
			'#$(ContentManager:plus.png)!',
			'#$(ContentManager:minus.png)!'
		]);


	})();

</script>